<div id="<%= dom_id family %>">
  <p>
    <strong>Name:</strong>
    <%= family.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= family.description %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= family.discount %>
  </p>

  <p>
    <strong>Profit:</strong>
    <%= family.profit %>
  </p>

</div>
